<!DOCTYPE html>
<html lang="en" ng-app="MesosMetricsApp">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"
            charset="utf-8"></script>
    <!-- Angular Aria, Animate & Marterial-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

    <!--<script type="text/javascript" src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script type="text/javascript" src="js/angular-nvd3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-spinner/0.8.0/angular-spinner.js"></script>

    <script type="text/javascript" src="app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>
    <link rel="stylesheet" src="css/custom.css">

    <title>Title</title>
</head>
<body md-theme="green">
<div class="container" ng-controller="MetricsController" data-ng-init="getMesosMetrics()">

    <form class="form-inline">
        <div class="form-group">
            <label class="label label-default">Select model:</label>
            <select name="mode" class="form-control" ng-model="dataSelector">
                <option value="metrics">Metrics</option>
                <option value="executors">Executors</option>
            </select>
        </div>
    </form>

    <br>

    <div ng-if="dataSelector == 'metrics'">
        <div class="panel panel-default">
            <div class="panel-heading">Mesos masters</div>
            <div class="panel-body">

                <table valign="top">
                    <tr>
                        <td width="550px;">
                            <div style="border: solid 1px #ccc; border-radius: 10px; padding: 10px; margin-right: 10px;">
                                <span><label class="label label-primary">CPU</label><nvd3 options="optionsMaster"
                                                                                          data="masterDataCpu"
                                                                                          class="with-3d-shadow with-transitions"
                                                                                          config="d3Config"></nvd3></span>
                            </div>
                        </td>
                        <td></td>
                        <td width="600px">
                            <div style="float: right; width: 450px; position: absolute; top:110px;">

                                <div style="border: solid 1px #ccc; border-radius: 10px; padding: 10px;">
                                    <label class="label label-default">Master hosts:</label><br>

                                    <div>
                                        <div style="text-align: center">
                                            <div ng-repeat="master in masterList">
                                                <span ng-class="master === activeMaster ? 'label label-success' : 'label label-primary'">{{master}}</span>
                                            </div>
                                        </div>
                                        <hr>
                                        <div><span
                                                style="color: #337ab7; background: #337ab7; display: inline-block;width:10px; height: 10px;"></span>
                                            - standby master
                                        </div>
                                        <div><span
                                                style="color: #5cb85c; background: #5cb85c; display: inline-block;width:10px; height: 10px;"></span><span> - leading master</span>
                                        </div>
                                    </div>
                                </div>

                                <div style="border: solid 1px #ccc; border-radius: 10px; padding: 10px; margin-top: 10px;">
                                    <label class="label label-default">Summary:</label><br>

                                    <div>
                                        <div style="text-align: center">
                                            <div>
                                                <label class="label label-default">CPUs:</label><br>
                                                <span ng-repeat="cpu in masterDataCpuAbsolute"><b>{{cpu.name}}:</b>{{cpu.size}}&nbsp;</span>
                                            </div>
                                            <hr>
                                            <div>
                                                <label class="label label-default">Memory(Gb):</label><br>
                                                <span ng-repeat="mem in masterDataMemAbsolute"><b>{{mem.name}}:</b>{{mem.size}}&nbsp;</span>
                                            </div>
                                            <hr>
                                            <div>
                                                <label class="label label-default">Disk(Gb):</label><br>
                                                <span ng-repeat="disk in masterDataDiskAbsolute"><b>{{disk.name}}:</b>{{disk.size}}&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="550px;">
                            <div style="border: solid 1px #ccc; border-radius: 10px; padding: 10px; margin-right: 10px;">
                                <span><label class="label label-primary">Disk</label><nvd3 options="optionsMaster"
                                                                                           data="masterDataDisk"
                                                                                           class="with-3d-shadow with-transitions"
                                                                                           config="d3Config"></nvd3></span>
                            </div>
                        </td>
                        <td></td>
                        <td width="600px">
                        </td>
                    </tr>
                    <tr>
                        <td width="550px;">
                            <div style="border: solid 1px #ccc; border-radius: 10px; padding: 10px; margin-right: 10px;">
                                <span><label class="label label-primary">Memory</label><nvd3 options="optionsMaster"
                                                                                             data="masterDataMem"
                                                                                             class="with-3d-shadow with-transitions"
                                                                                             config="d3Config"></nvd3></span>
                            </div>
                        </td>
                        <td></td>
                        <td width="600px"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Mesos slaves</div>
            <div class="panel-body">
                <div class="container" ng-repeat="slave in slaveData | orderBy: 'id' "
                     style="border: solid 1px #ccc; border-radius: 10px; padding: 10px; margin: 10px; width: 900px;">
                    <div class="row">
                        <h4><span class="label label-success" style="margin-left: 30px;">{{slave.id}}</span></h4>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-center"><h5><span class="label label-primary label-load">CPU: {{slave.metrics['slave/cpus_used']}}/{{slave.metrics['slave/cpus_total']}} </span>
                        </h5></div>
                        <div class="col-md-2 text-center"><h5><span class="label label-primary label-load">Memory: {{slave.metrics['slave/mem_used'] | toGb}}/{{slave.metrics['slave/mem_total'] | toGb}} Gb</span>
                        </h5></div>
                        <div class="col-md-2 text-center"><h5><span class="label label-primary label-load">Disk: {{slave.metrics['slave/disk_used'] | toGb}}/{{slave.metrics['slave/disk_total'] | toGb}} Gb</span>
                        </h5></div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div ng-repeat="cpu in slaveDataCpu | orderBy: 'id' ">
                            <div class="col-md-2" ng-if="cpu.id == slave.id">
                                <span>
                                    <nvd3 options="optionsSlave" data="cpu.metrics"></nvd3>
                                </span>
                            </div>
                        </div>

                        <div ng-repeat="mem in slaveDataMem | orderBy: 'id' ">
                            <div class="col-md-2" ng-if="mem.id == slave.id">
                                <span>
                                    <nvd3 options="optionsSlave" data="mem.metrics"></nvd3>
                                </span>
                            </div>
                        </div>

                        <div ng-repeat="disk in slaveDataDisk | orderBy: 'id' ">
                            <div class="col-md-2" ng-if="disk.id == slave.id">
                                <span>
                                    <nvd3 options="optionsSlave" data="disk.metrics"></nvd3>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li>Executors registering: {{ slave.metrics['slave/executors_registering']}}</li>
                                <li>Executors running: {{ slave.metrics['slave/executors_running']}}</li>
                                <li>Executors terminated: {{ slave.metrics['slave/executors_terminated']}}</li>
                                <li>Executors terminating: {{ slave.metrics['slave/executors_terminating']}}</li>
                                <li>Frameworks active: {{ slave.metrics['slave/frameworks_active']}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="dataSelector == 'executors'">
        <div ng-if="activeMaster == null">
            <h3><span us-spinner></span><b>Waiting for detect leading master...</b></h3>
        </div>

        <!--<div ng-if="activeMaster != null" class="panel panel-default" data-ng-init="getExecutors()">-->
        <div ng-if="activeMaster != null" data-ng-init="getExecutors()">
            <!--<div class="panel-heading">Executors</div>-->

            <!-- Draw task list -->
            <!--<div class="panel-body" ng-if="frameworkTasks.length != 0 && !detailsForTask">-->
            <md-toolbar ng-if="frameworkTasks.length != 0 && !detailsForTask && !detailsForSandbox">
                <h2 class="md-toolbar-tools">
                    <span flex>Executors</span>
                </h2>
            </md-toolbar>

            <div ng-if="frameworkTasks.length != 0 && !detailsForTask && !detailsForSandbox">
                <md-button class="btn btn-default glyphicon glyphicon-refresh"
                           ng-click="getExecutors()">
                    <md-tooltip>Refresh data</md-tooltip>
                </md-button>
                <span ng-if="loading" us-spinner></span>

                <p>

                <div style="border: solid 1px #ccc; border-radius: 0px; padding: 10px; margin-right: 10px; width: 100%;">
                    <div class="container">
                        <div class="row" ng-repeat="task in frameworkTasks">
                            <!--http://128.107.32.157:5050/#/slaves/20151120-161109-3338993674-5050-1785-S11/frameworks/20151120-161109-3338993674-5050-1785-0000/executors/cassandra.cassandra-mesos.node.3.executor-->
                            <div class="col-xs-4"><a href="#"
                                                     ng-click="getExecutor(task.slave_id, task.framework_id, task.executor_id)">{{task.id}}
                                <md-tooltip>Task info</md-tooltip>
                            </a>
                            </div>
                            <div class="col-xs-2">{{task.name}}</div>
                            <div class="col-xs-2">{{task.state}}</div>
                            <div class="col-xs-2">
                                <md-button class="md-raised"
                                           ng-click="getSandbox(task.slave_id, task.framework_id, task.executor_id)">
                                    Sandbox
                                    <md-tooltip>To Executors</md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task details -->
            <div ng-if="frameworkTasks.length != 0 && detailsForTask">
                <md-button class="btn btn-default glyphicon glyphicon-hand-left"
                           ng-click="setDetailsForTask(false); setDetailsForSandbox(false)">
                    <md-tooltip>To Executors</md-tooltip>
                </md-button>
                <p>
                    <span ng-if="taskLoading" us-spinner="{color: 'black'}"></span>
                </p>
                <br>

                <!-- queued tasks-->
                <!--<md-toolbar class="md-toolbar-tools">Queued tasks</md-toolbar>-->
                <!--<div style="border: solid 1px #ccc; border-radius: 0px; padding: 10px; margin-right: 10px; width: 100%">-->
                    <!--<div class="container">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-4">{{task.name}}</div>-->
                            <!--<div class="col-xs-4">{{task.state}}</div>-->
                        <!--</div>-->
                        <!--<div class="row" ng-if="tasks.length == 0 && !taskLoading">-->
                            <!--<div class="col-xs-6">No tasks found</div>-->
                        <!--</div>-->
                        <!--<div class="row" ng-if="tasks.length == 0 && taskLoading">-->
                            <!--<div class="col-xs-6">Loading data...</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<br>-->

                <!-- running tasks-->
                <md-toolbar class="md-toolbar-tools">Running tasks</md-toolbar>
                <div style="border: solid 1px #ccc; border-radius: 0px; padding: 10px; margin-right: 10px; width: 100%">
                    <table class="table table-striped">
                        <th>Name</th>
                        <th>State</th>
                        <th>CPUs(allocated)</th>
                        <th>Disk(allocated)</th>
                        <th>Mem(allocated)</th>
                        <tr ng-repeat="task in tasks" ng-if="tasks.length != 0 && !taskLoading">
                            <td>{{task.name}}</td>
                            <td>{{task.state}}</td>
                            <td>{{task.resources.cpus}}</td>
                            <td>{{task.resources.disk | toGb}} Gb</td>
                            <td>{{task.resources.mem | toGb}} Gb</td>
                        </tr>
                    </table>
                    <div class="container">
                        <div class="row" ng-if="tasks.length == 0 && !taskLoading">
                            <div class="col-xs-6">No running tasks found</div>
                        </div>
                        <div class="row" ng-if="tasks.length == 0 && taskLoading">
                            <div class="col-xs-6">Loading data...</div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- completed tasks-->
                <!--<md-toolbar class="md-toolbar-tools">Completed tasks</md-toolbar>-->
                <!--<div style="border: solid 1px #ccc; border-radius: 0px; padding: 10px; margin-right: 10px; width: 100%">-->
                    <!--<div class="container">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-4">{{task.name}}</div>-->
                            <!--<div class="col-xs-4">{{task.state}}</div>-->
                        <!--</div>-->
                        <!--<div class="row" ng-if="tasks.length == 0 && !taskLoading">-->
                            <!--<div class="col-xs-6">No tasks found</div>-->
                        <!--</div>-->
                        <!--<div class="row" ng-if="tasks.length == 0 && taskLoading">-->
                            <!--<div class="col-xs-6">Loading data...</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <!-- Sandbox -->
            <div ng-if="frameworkTasks.length != 0 && detailsForSandbox">
                <md-button class="btn btn-default glyphicon glyphicon-hand-left"
                           ng-click="setDetailsForTask(false); setDetailsForSandbox(false)">
                    <md-tooltip>To Executors</md-tooltip>
                </md-button>
                <p>
                </p>
                <br>
                <!-- Sandbox -->
                <md-toolbar class="md-toolbar-tools">Files</md-toolbar>
                <div style="border: solid 1px #ccc; border-radius: 0px; padding: 10px; margin-right: 10px; width: 100%">
                    <table class="table table-striped" ng-if="directories.length != 0">
                        <th>Mode</th>
                        <th>UID</th>
                        <th>GID</th>
                        <th>Size</th>
                        <th>Date</th>
                        <th></th>
                        <tr  ng-repeat="dir in directories | orderBy: ['-mode','path']">
                            <td>{{dir.mode}}</td>
                            <td>{{dir.uid}}</td>
                            <td>{{dir.gid}}</td>
                            <td>{{dir.size}}</td>
                            <td>{{dir.mtime+'000' | date:'medium'}}</td>
                            <td><i ng-if="dir.mode[0] == 'd'" class="glyphicon glyphicon-folder-open"><md-tooltip>Directory</md-tooltip></i>
                                <i ng-if="dir.mode[0] == '-'" class="glyphicon glyphicon-file"><md-tooltip>File</md-tooltip></i>
                                <a href="#" ng-click="getSandboxByPath(dir.mode[0],dir.path)">{{dir.path | toHPath}}</a></td>
                        </tr>
                    </table>
                    <div class="container" ng-if="directories.length == 0">
                        <div class="row" >
                            <div class="col-xs-4">No files</div>
                        </div>
                    </div>
                    <span ng-if="loading" us-spinner></span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>