<div class="md-toolbar-tools container">
    <div class="logo-mantl">
        <img src="img/logo_mantl.png">
    </div>
    <div class="logo-name">
        <span>Pangea</span>
    </div>

    
    <md-button class="md-accent md-hue-1 md-raised" ng-href="#/apps">
        Apps
    </md-button>

    <md-button class="md-accent md-hue-1 md-raised" ng-href="#/deployments">
        Deployments
    </md-button>

    <!-- fill up the space between left and right area -->
    <span flex></span>
    
    <md-button class="md-accent md-hue-1 md-raised" ng-click="toolbar.newAppModal($event)">
        + New App
    </md-button>   

</div> 