<md-dialog>
  <md-content layout="column" layout-padding layout-align="center center">
    <md-input-container md-no-float class="md-block">
      <input placeholder="0 instances" ng-model="parametrs.instances" ng-required="true">
    </md-input-container>
    <div>
      <md-button class="md-primary md-raised" ng-click="cancel()">
        Cancel
      </md-button>
      <md-button class="md-primary md-raised" ng-click="submit()">
        Ok
      </md-button>
    </div>
  </md-content>
</md-dialog>
