<div class="md-toolbar-tools">
    <div class="logo-mantl">
        <img src="img/logo_mantl.png">
    </div>
    
    <md-button class="md-accent md-hue-2 md-raised" ng-href="#/metrics">
        Metrics
    </md-button>
    <md-button class="md-accent md-hue-2 md-raised" ng-href="#/frameworks">
        Frameworks
    </md-button>
    <md-button class="md-accent md-hue-2 md-raised" ng-href="#/lattency">
    	Lattency
	</md-button>

    <!-- fill up the space between left and right area -->
    <span flex></span>
</div>