<md-dialog aria-label="New Application" ng-controller="NewAppCtrl as newapp">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Application</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;width: 650px;">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Application Info">
                    <md-content class="md-padding" layout-padding>
                        <div>
                            <div layout-gt-xs="row">
                                <md-input-container md-no-float class="md-block" style="width:100%">
                                    <label>ID</label>
                                    <input>
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-input-container md-no-float class="md-block" style="width:23%;padding-right: 15px;margin-top: 0;">
                                    <label>CPUs</label>
                                    <input value="0.1">
                                </md-input-container>
                                <md-input-container md-no-float class="md-block" style="width:23%;padding-right: 15px;margin-top: 0;">
                                    <label>Memory (MB)</label>
                                    <input value="16">
                                </md-input-container>
                                <md-input-container md-no-float class="md-block" style="width:23%;padding-right: 15px;margin-top: 0;">
                                    <label>Disk Space (MB)</label>
                                    <input value="0">
                                </md-input-container>
                                <md-input-container md-no-float class="md-block" style="width:25%;padding-right: 15px;margin-top: 0;">
                                    <label>Instances</label>
                                    <input value="1">
                                </md-input-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-input-container flex-gt-sm class="md-block" style="width:100%;margin-top: 0;">
                                    <label>Command</label>
                                    <textarea columns="1" rows="2"></textarea>
                                    <div class="hint" style="color: #8e929b;font-size: 14px;">May be left blank if a container image is supplied</div>
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Docker settings">
                    <md-content class="md-padding">
                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm class="md-block" style="width:48%;padding-right: 15px">
                                <label>Image</label>
                                <input>
                            </md-input-container>
                            <md-input-container flex-gt-sm class="md-block" style="width:48%;padding-right: 15px">
                                <label>Network</label>
                                <md-select ng-model="docker_network">
                                    <md-option ng-repeat="network in newapp.docker_networks" ng-value="network" value="{{network.netid}}">
                                        {{network.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <fieldset class="standard" style="width: 100%;">
                                <legend>Privileges</legend>
                                <div layout="column" layout-wrap layout-gt-sm="row" >
                                    <div flex-xs flex="100">
                                        <md-checkbox>
                                            <code>Extend runtime privileges to this container</code>
                                        </md-checkbox>
                                        <div class="hint" style="color: #8e929b;font-size: 14px;">Select to give this container access to all devices on the host</div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div layout-gt-sm="row" style="margin-top: 15px;">
                            <fieldset class="standard" style="width: 100%;">
                                <legend>Port Mappings</legend>
                                <div layout="column" layout-wrap layout-gt-sm="row" data-ng-repeat="portmap in newapp.portMappings">
                                    <div flex-xs flex="10">
                                        <md-input-container md-no-float class="md-block">
                                            <label>Container Port</label>
                                            <input type="number" step="1" min="0" max="65535">
                                        </md-input-container>
                                    </div>
                                    <div flex-xs flex="10">
                                        <md-input-container md-no-float class="md-block">
                                            <label>Host Port</label>
                                            <input type="number" step="1" min="0" max="65535">
                                        </md-input-container>
                                    </div>
                                    <div flex-xs flex="5">
                                        <md-input-container md-no-float class="md-block">
                                            <label>Service Port</label>
                                            <input type="number" step="1" min="0" max="65535">
                                        </md-input-container>
                                    </div>
                                    <div flex-xs flex="5">
                                        <md-input-container md-no-float class="md-block">
                                            <label>Protocol</label>
                                            <md-select ng-model="docker_network_protocol">
                                                <md-option ng-repeat="protocol in newapp.docker_protocols" ng-value="protocol" value="{{protocol.netid}}">
                                                    {{protocol.value}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div flex-xs flex="1" style="margin-top: 15px;">
                                        <md-button class="md-icon-button md-accent" aria-label="Add" style="margin: 0 0 0 0;padding-right: 0;" ng-click="newapp.addPortMappings()">
                                            <md-icon md-svg-src="ic_add_circle_outline_black_24px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                    <div flex-xs flex="1" style="margin-top: 15px;">
                                        <md-button class="md-icon-button md-accent" aria-label="Remove" style="margin: 0 0 0 0;padding-left: 0;" ng-click="newapp.removePortMappings($index)">
                                            <md-icon md-svg-src="icons/ic_remove_circle_outline_black_24px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div layout-gt-sm="row" style="margin-top: 15px;">
                            <fieldset class="standard" style="width: 100%;">
                                <legend>Parameters</legend>
                                <div layout="column" layout-wrap layout-gt-sm="row" data-ng-repeat="param in newapp.dockerParameters">
                                    <div flex-xs flex="15">
                                        <md-input-container md-no-float class="md-block">
                                            <label>Key</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div style="margin-top: 30px;margin-left: 5px;margin-right: 5px;">:</div>
                                    <div flex-xs flex="15">
                                        <md-input-container md-no-float class="md-block">
                                            <label>Value</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div flex-xs flex="1" style="margin-top: 15px;">
                                        <md-button class="md-icon-button md-accent" aria-label="Add" style="margin: 0 0 0 0;padding-right: 0;" ng-click="newapp.addDockerParameter()">
                                            <md-icon md-svg-src="icons/ic_add_circle_outline_black_24px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                    <div flex-xs flex="1" style="margin-top: 15px;">
                                        <md-button class="md-icon-button md-accent" aria-label="Remove" style="margin: 0 0 0 0;padding-left: 0;" ng-click="newapp.removeDockerParameter($index)">
                                            <md-icon md-svg-src="icons/ic_remove_circle_outline_black_24px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div layout-gt-sm="row" style="margin-top: 15px;">
                            <fieldset class="standard" style="width: 100%;">
                                <legend>Volumes</legend>
                                <div layout="column" layout-wrap layout-gt-sm="row" data-ng-repeat="param in newapp.dockerVolumes">
                                    <div flex-xs flex="10">
                                        <md-input-container md-no-float class="md-block">
                                            <label>Container Path</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div flex-xs flex="10">
                                        <md-input-container md-no-float class="md-block">
                                            <label>Host Path</label>
                                            <input>
                                        </md-input-container>
                                    </div>
                                    <div flex-xs flex="5">
                                        <md-input-container md-no-float class="md-block">
                                            <label>Mode</label>
                                            <md-select ng-model="docker_volume_mode">
                                                <md-option ng-repeat="mode in newapp.docker_volume_modes" ng-value="mode" value="{{mode.netid}}">
                                                    {{mode.value}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div flex-xs flex="1" style="margin-top: 15px;">
                                        <md-button class="md-icon-button md-accent" aria-label="Add" style="margin: 0 0 0 0;padding-right: 0;" ng-click="newapp.addDockerVolume()">
                                            <md-icon md-svg-src="icons/ic_add_circle_outline_black_24px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                    <div flex-xs flex="1" style="margin-top: 15px;">
                                        <md-button class="md-icon-button md-accent" aria-label="Remove" style="margin: 0 0 0 0;padding-left: 0;" ng-click="newapp.removeDockerVolume($index)">
                                            <md-icon md-svg-src="icons/ic_remove_circle_outline_black_24px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Environment">
                    <md-content class="md-padding">
                        <div layout-gt-xs="row" data-ng-repeat="param in newapp.newappEnv">
                            <md-input-container md-no-float class="md-block" style="width:48%;padding-right: 15px;margin-top: 0;">
                                <label>Key</label>
                                <input>
                            </md-input-container>
                            <div style="margin-top: 10px;margin-right: 15px;">:</div>
                            <md-input-container md-no-float class="md-block" style="width:48%;padding-right: 15px;margin-top: 0;">
                                <label>Value</label>
                                <input>
                            </md-input-container>
                            <md-button class="md-icon-button md-accent" aria-label="Add" style="margin: 0 0 0 0;padding-right: 0;" ng-click="newapp.addNewAppEnv()">
                                <md-icon md-svg-src="icons/ic_add_circle_outline_black_24px.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-accent" aria-label="Remove" style="margin: 0 0 0 0;padding-left: 0;" ng-click="newapp.removeNewAppEnv($index)">
                                <md-icon md-svg-src="icons/ic_remove_circle_outline_black_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Optional">
                    <md-content class="md-padding">
                        <div layout-gt-xs="row">
                            <md-input-container md-no-float class="md-block" style="width:100%;margin-bottom: 0;">
                                <label>Executor</label>
                                <input></md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container md-no-float class="md-block" style="width:100%;margin-top: 5px;margin-bottom: 0;">
                                <label>Ports</label>
                                <input value="0">
                                <div class="hint" style="color: #8e929b;font-size: 14px;">Comma-separated list of numbers. 0's (zeros) assign random ports. (Default: one random port)</div>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container md-no-float class="md-block" style="width:100%;margin-bottom: 0;">
                                <label>URIs</label>
                                <input>
                                <div class="hint" style="color: #8e929b;font-size: 14px;">Comma-separated list of valid URIs.</div>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container md-no-float class="md-block" style="width:100%;">
                                <label>Constraints</label>
                                <input>
                                <div class="hint" style="color: #8e929b;font-size: 14px;">Comma-separated list of valid constraints. Valid constraint format is "field:operator[:value]".</div>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" ng-click="submit()">
                + Create
            </md-button>
            <md-button class="md-raised" ng-click="cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>