<div class="md-toolbar-tools">
    <span><a href="#">Marathon view for Ambari</a></span>
    
    <md-button class="md-primary md-hue-2 md-raised" ng-href="#/apps">
        Apps
    </md-button>

    <md-button class="md-primary md-hue-2 md-raised" ng-href="#">
        Deployments
    </md-button>

    <!-- fill up the space between left and right area -->
    <span flex></span>
    
    <md-button class="md-primary md-hue-2 md-raised" ng-click="toolbar.newAppModal($event)">
        + New App
    </md-button>   

</div>