<div class="md-toolbar-tools container-my">
  <div class="logo-mantl">
    <a ng-href="/">
      <img src="img/logo_mantl.png">
    </a>
  </div>
  <div class="logo-name">
    <a ng-href="/" class="a-clear">
      <span>Pangea</span>
    </a>
  </div>

  <md-button class="md-accent md-hue-2 md-raised" ng-href="#/metrics">
    Metrics
  </md-button>
  <md-button class="md-accent md-hue-2 md-raised" ng-href="#/frameworks">
    Frameworks
  </md-button>
  <md-button class="md-accent md-hue-2 md-raised" ng-href="#/lattency">
    Lattency
  </md-button>

  <!-- fill up the space between left and right area -->
  <span flex></span>
</div>
