<div class="container" layout="column" flex>
  <md-whiteframe class="breadcrumb md-whiteframe-6dp white-card whiteframe-margin-bottom">
    <div layout-padding>
      <span class="breadcrumb-current"> Frameworks </span>
    </div>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-6dp whiteframe-margin-bottom">
    <div class="toolbar-card" layout="row" flex>
      <h4 class="md-subhead"> Active Frameworks </h4>
      <span flex></span>
      <md-input-container class="md-block" md-no-float layout-padding>
        <input placeholder="Filter" ng-model="searchframeworksActive">
      </md-input-container>
    </div>
    <md-content class="white-card" layout-padding>
      <div class="table" layout="column">
        <table>
          <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Hostname </th>
            <th> User </th>
            <th> Active Tasks </th>
            <th> CPUs </th>
            <th> Memory </th>
            <th> Registered </th>
            <th> Re-Registered </th>
          </tr>
          <tr ng-repeat="framework in frameworksActive | filter: searchframeworksActive" ng-click="goToFrameworkTasks(framework.id)">
            <td class="border-left"> {{framework.id}} </td>
            <td> {{framework.name}} </td>
            <td> {{framework.hostname}} </td>
            <td> {{framework.user}} </td>
            <td> {{framework.tasks.length}} </td>
            <td> {{framework.resources.cpus | toFixed}} </td>
            <td> {{framework.resources.mem | toGb}} Gb </td>
            <td> {{currentDate - framework.registered_time | date}} </td>
            <td class="border-right">
              <span ng-show="framework.failover_timeout !== 0">{{currentDate - framework.reregistered_time | date}}</span>
              <span ng-show="framework.failover_timeout === 0"> - </span>
            </td>
          </tr>
        </table>
      </div>
    </md-content>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-6dp whiteframe-margin-bottom">
    <div class="toolbar-card" layout="row" flex>
      <h4 class="md-subhead"> Terminated Frameworks </h4>
      <span flex></span>
      <md-input-container class="md-block" md-no-float layout-padding>
        <input placeholder="Filter" ng-model="searchframeworksTerminated">
      </md-input-container>
    </div>
    <md-content class="white-card" layout-padding>
      <div class="table table-inactive" layout="column">
        <table>
          <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Hostname </th>
            <th> User </th>
            <th> Registered </th>
            <th> Unregistered </th>
          </tr>
          <tr ng-repeat="framework in frameworksTerminated | filter: searchframeworksTerminated">
            <td class="border-left"> {{framework.id}} </td>
            <td> {{framework.name}} </td>
            <td> {{framework.hostname}} </td>
            <td> {{framework.user}} </td>
            <td> {{currentDate - framework.registered_time | date}} </td>
            <td class="border-right"> {{currentDate - framework.unregistered_time | date}} </td>
          </tr>
        </table>
      </div>
    </md-content>
  </md-whiteframe>
</div>
