<md-whiteframe class="md-whiteframe-6dp white-card" layout-padding>
  <div layout="row" flex>
    <md-input-container class="md-block" md-no-float layout-padding>
      <input placeholder="Filter by App ID" ng-model="search.id">
    </md-input-container>
    <span flex></span>
    <div>
      <md-button class="md-accent md-hue-1 md-raised" ng-click="newAppModal($event)">
        + New App
      </md-button>
    </div>
  </div>

  <div class="apps-table" layout="column">
    <table>
      <tr>
        <th> ID </th>
        <th> Memory (MB) </th>
        <th> CPUs </th>
        <th> Tasks / Instances </th>
        <th> Disk </th>
      </tr>
      <tr ng-repeat="app in appsList | filter: search" ng-click="showAppInfo(app)">
        <td class="border-left"> {{app.id}} </td>
        <td> {{app.mem}} </td>
        <td> {{app.cpus}} </td>
        <td> {{app.tasksRunning}} / {{app.instances}} </td>
        <td class="border-right"> {{app.disk}} </td>
      </tr>
    </table>
  </div>
</md-whiteframe>
