<!-- <md-toolbar>
    <h2 class="md-toolbar-tools">
        <span flex>Master info</span>
    </h2>
</md-toolbar> -->

<div layout="column" flex>
  <div class="data-container" flex>
    <span>
      <label class="label label-primary">
        CPU: {{clusterData.cpu[0].size}} / {{parseFloat(clusterData.cpu[0].size) + parseFloat(clusterData.cpu[1].size) | number:2}}
      </label>
      <nvd3 options="optionsClusterCpu" data="clusterData.cpu" class="with-3d-shadow with-transitions" config="d3Config"></nvd3>
    </span>
  </div>
  <div class="data-container" flex>
    <span>
      <label class="label label-primary">
        Memory: {{clusterData.mem[0].size}} / {{parseFloat(clusterData.mem[0].size) + parseFloat(clusterData.mem[1].size) | number:2}} GB
      </label>
      <nvd3 options="optionsClusterMem" data="clusterData.mem" class="with-3d-shadow with-transitions" config="d3Config"></nvd3>
    </span>
  </div>
  <div class="data-container" flex>
    <span>
      <label class="label label-primary">
        Disk: {{clusterData.disk[0].size}} / {{parseFloat(clusterData.disk[0].size) + parseFloat(clusterData.disk[1].size) | number:2}} Gb
      </label>
      <nvd3 options="optionsClusterDisk" data="clusterData.disk" class="with-3d-shadow with-transitions" config="d3Config"></nvd3>
    </span>
  </div>

  <div class="data-container" layout="column" flex>
    <div layout-align="start center" flex>
      <label class="label label-default">
        Master hosts:
      </label>
    </div>
    <div layout="column" layout-align="center center" flex>
      <div ng-repeat="master in mastersList">
        <span ng-class="master === activeMaster ? 'label label-success' : 'label label-primary'">
          {{master}}
        </span>
      </div>
    </div>
    <div layout="column" layout-align="end start" flex>
      <div>
        <span class="square-blue"></span>
        <span>
          - standby master
        </span>
      </div>
      <div>
        <span class="square-green"></span>
        <span>
          - leading master</span>
      </div>
    </div>
  </div>

  <div flex class="data-container">
    <label class="label label-default">
      Summary:
    </label>
    <br>
    <div style="text-align: center">
      <div>
        <label class="label label-default">
          CPUs:
        </label>
        <br>
        <span ng-repeat="cpu in clusterData.cpu">
          <b>{{cpu.name}}:</b>{{cpu.size | number:2}}&nbsp;
        </span>
      </div>
      <hr>
      <div>
        <label class="label label-default">
          Memory(Gb):
        </label>
        <br>
        <span ng-repeat="mem in clusterData.mem">
          <b>{{mem.name}}:</b>{{mem.size | number:2}}&nbsp;
        </span>
      </div>
      <hr>
      <div>
        <label class="label label-default">
          Disk(Gb):
        </label>
        <br>
        <span ng-repeat="disk in clusterData.disk">
          <b>{{disk.name}}:</b>{{disk.size | number:2}}&nbsp;
        </span>
      </div>
    </div>
  </div>

</div>
