.table-config table {
  width: 100%;
}
.table-config td {
  border-spacing: 0px;
  height: 30px;
  padding: 0 3px 0 3px;
  vertical-align: top;
}
.table-config th {
  border-spacing: 0px;
  height: 30px;
  padding: 0 3px 0 3px;
}
.table-config tr:first-child td {
  padding-top: 10px;
}
.table-config td:first-child {
  text-align: right;
  font-weight: bold;
  width: 150px;
}
.table-config td:last-child {
  text-align: left;
}
.table-config tr:first-child td:first-child {
  border-radius: 10px 0 0 0;
}
.table-config tr:first-child td:last-child {
  border-radius: 0 10px 0 0;
}
.table-config tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
.table-config tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
.table-config pre {
  background: #F8F8FF;
  border: black dashed 1px;
  padding: 6px
}
​
/*
/
/
*/

.table-debug {
  width: 100%;
}
.table-debug table {
  width: 100%;
}
.table-debug td {
  border-spacing: 0px;
  height: 30px;
  padding: 0 3px 0 3px;
}
.table-debug th {
  border-spacing: 0px;
  height: 30px;
  padding: 0 3px 0 3px;
}
.table-debug td:first-child {
  text-align: right;
  font-weight: bold;
  width: 150px;
}
.table-debug td:last-child {
  text-align: left;
}
.table-debug fieldset {
  margin-bottom: 30px;
  border-color: #795548;
}


.task-info {
  margin-top: 10px;
}
.task-info td {
  border-spacing: 0px;
  height: 30px;
  padding: 0 3px 0 3px;
}
.task-info td:first-child {
  text-align: right;
  font-weight: bold;
}
.task-info td:last-child {
  text-align: left;
}
.task-info fieldset {
  margin-bottom: 30px;
}

.apps-deployments {
  width: 100%;
}
.apps-deployments table {
  width: 100%;
}
.apps-deployments th {
  border-spacing: 0px;
  height: 30px;
  padding: 5px;
}
.apps-deployments td {
  border-spacing: 0px;
  height: 30px;
  padding: 5px;
}
.apps-deployments th:not(:first-child) {
  text-align: right;
}
.apps-deployments th:first-child {
  text-align: left;
}
.apps-deployments td:not(:first-child) {
  text-align: right;
}
.apps-deployments table {
  width: 100%;
}
.apps-deployments p {
  height: 5px;
}

#frameworks-table-active {
  margin-bottom: 30px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
md-content .container {
  padding-top: 15px;
}
/*Breadcrumb*/
.breadcrumb-link {
  color: #3E2723;
  cursor: pointer;
}
.breadcrumb-link:hover {
  color: #F57C00;
  text-decoration: underline;
}
.breadcrumb-arrow {
  color: #3E2723;
}
.breadcrumb-current {
  color: #F57C00;
}

/*CARD*/
.white-card {
  background-color: #ffffff;
}
.toolbar-card {
  color: #777777;
  padding: 4px 4px 4px 15px;
  border-bottom: 1px solid #d4d4d4;
}
.toolbar-card .md-subhead {
  margin: 4px;
  font-size: 15px;
}

/*TABLE*/
.table th {
  border-spacing: 0px;
  height: 30px;
  padding: 5px;
  min-width: 80px;
}
.table td {
  border-spacing: 0px;
  height: 30px;
  padding: 5px;
  min-width: 80px;
}
.table tr:hover td {
  background-color: #FFE0B2;
  cursor: pointer;
}
.table tr:hover td.border-left {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -khtml-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.table tr:hover td.border-right {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -khtml-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.table th {
  text-align: left;
}
.table table {
  width: 100%;
}
.table p {
  height: 5px;
}
.table th md-checkbox {
  margin-bottom: 0px;
}
.table .md-button {
  margin: 0px;
}

md-input-container {
  margin: 0;
  height: 40px;
}

.data-container {
  border: solid 1px #ccc;
  padding: 10px;
  margin: 5px;
  /*text-align: center;*/
}
.square-blue {
  color: #337ab7;
  background: #337ab7;
  display: inline-block;
  width: 10px;
  height: 10px;
}
.square-green {
  color: #5cb85c;
  background: #5cb85c;
  display: inline-block;
  width: 10px;
  height: 10px;
}

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 400px !important;
  max-width: 400px !important;
}
.slave-data-container {
  position: absolute;
  padding: 10px;
  background: #fff;
  opacity: 0.7;
  width: 750px;
  min-height: 180px;
  right: 60px;
  bottom: 60px;
}
.link {
  cursor: pointer;
  color: blue;
}
.link:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.vis-navigation .vis-button {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.3);
}
.show-master-btn {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Logo */
.logo-mantl {
  margin-right: 10px;
}
.logo-mantl a {
  height: 32px;
}
.logo-mantl img {
  height: 32px;
}
.logo-name {
  font-size: 15px;
  font-weight: 600;
}
/* Logo - Link */
.a-clear {
    text-decoration: none;
}
.a-clear:hover {
    text-decoration: none;
    color: rgb(239, 235, 233);
}
.a-clear:focus {
    text-decoration: none;
    color: rgb(239, 235, 233);
}
/* Toolbar size */
md-toolbar {
  min-height: 50px;
  height: 50px;
}
.md-toolbar-tools {
  height: 50px;
  padding: 0px;
}
/* Toolbar tabs container*/
.toolbar-tabs-container md-tab-item{
  height: 50px;
  color: #EFEBE9;
}
.toolbar-tabs-container .md-active {
  height: 50px;
  color: #FFA726 !important;
}
.toolbar-tabs-container md-tabs-canvas {
  height: 50px;
}
.toolbar-tabs-container md-pagination-wrapper {
  height: 50px;
}

.shadow {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.5);
}


/*# sourceMappingURL=app.css.map*/