<md-whiteframe class="md-whiteframe-6dp white-card" layout="column" layout-padding flex="40">
  <div>
    <div class="services-tools-container" layout="row">
      <md-input-container md-no-float class="md-block">
        <input placeholder="Filter by name" ng-model="search.Name">
      </md-input-container>
      <span flex></span>

      <!-- <md-input-container>
        <md-select placeholder="State" ng-model="search.status">
          <md-option ng-repeat="status in statusesFilterList">
            {{status}}
          </md-option>
        </md-select>
      </md-input-container> -->

      <!-- <span flex></span>
      <div layout="row" layout-align="center center">
        <md-button class="md-accent md-hue-1 md-raised">
          Expand
        </md-button>
      </div> -->
    </div>
  </div>

  <md-virtual-repeat-container id="services-container" ng-style="listStyle">
    <div class="repeated-item md-body-2" md-virtual-repeat="service in servicesArr | filter: search" md-item-size="60" layout="row" ng-click="setServiceChoosen(service)">
      <div class="status-rectangle-warning" ng-show="service.ChecksWarning > 0"></div>
      <div class="status-rectangle-critical" ng-show="service.ChecksCritical > 0"></div>
      <div class="status-rectangle-passing" ng-show="service.ChecksPassing > 0"></div>
      <div layout="column">
        <div layout="row">
          <span class="md-subhead">
            <b>{{service.Name}}</b>
          </span>
        </div>
        <div class="md-caption" layout="row">
          <span ng-show="service.ChecksWarning > 0">
            {{service.ChecksWarning}} warning
          </span>
          <span ng-show="service.ChecksCritical > 0">
            {{service.ChecksCritical}} critical
          </span>
          <span ng-show="service.ChecksPassing > 0">
            {{service.ChecksPassing}} passing
          </span>
        </div>
      </div>
    </div>
  </md-virtual-repeat-container>

  <!-- <md-list>
    <md-list-item ng-repeat="service in servicesArr">
      {{service.Name}} - {{service.ChecksWarning}} - {{service.ChecksCritical}} - {{service.ChecksPassing}}
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list> -->
</md-whiteframe>

<div flex="5"></div>

<md-whiteframe class="md-whiteframe-6dp white-card" layout="column" flex="65">
  <md-toolbar layout-padding>
    <span>{{serviceSelected.Name}}</span>
  </md-toolbar>
  <md-content class="white-card" layout-padding>
    <div ng-show="!serviceSelected" class="md-subhead" layout="row" layout-align="center center">
      <span>Select service to see additional info.</span>
    </div>

    <md-virtual-repeat-container id="service-details-container" ng-show="serviceSelected" ng-style="listStyle">
      <span class="md-title">Tags<span>
      <div class="md-body-2">
        <span ng-repeat="tag in serviceSelectedTags">
          {{tag}}<span ng-show="!($last)">,</span>
        </span>
      </div>
      <br>
      <span class="md-title">Nodes<span>
      <div class="repeated-item md-body-2" md-virtual-repeat="details in serviceSelected.ServiceDetails" md-item-size="170" layout="column">
        <div layout="row">
          <div class="status-rectangle-warning" ng-show="(details.Checks | filter: 'warning').length > 0"></div>
          <div class="status-rectangle-critical" ng-show="(details.Checks | filter: 'critical').length > 0"></div>
          <div class="status-rectangle-passing" ng-show="(details.Checks | filter: 'passing').length > 0"></div>

          <div layout="column">
            <span class="md-subhead"><b> {{details.Node.Node}} </b></span>
            <span class="md-caption"> {{details.Node.Address}} </span>
          </div>

          <div layout="row" layout-align="end start" flex>
            <span class="md-caption" ng-show="(details.Checks | filter: 'warning').length > 0">{{(details.Checks | filter: 'warning').length}} warning</span>
            <span class="md-caption" ng-show="(details.Checks | filter: 'critical').length > 0">{{(details.Checks | filter: 'critical').length}} critical</span>
            <span class="md-caption" ng-show="(details.Checks | filter: 'passing').length > 0">{{(details.Checks | filter: 'passing').length}} passing</span>
          </div>
          <div></div>
        </div>

        <md-virtual-repeat-container id="service-node-container" ng-style="listStyle">
          <div class="repeated-item md-body-2" md-virtual-repeat="node in details.Checks" md-item-size="50" layout="row" flex>
            <div class="status-rectangle-warning" ng-show="node.Status === 'warning'"></div>
            <div class="status-rectangle-critical" ng-show="node.Status === 'critical'"></div>
            <div class="status-rectangle-passing" ng-show="node.Status === 'passing'"></div>

            <div layout="row" flex>
              <div layout="column">
                <span class="md-caption"><b> {{node.Name}} </b></span>
                <span class="md-caption"> {{node.CheckID}} </span>
              </div>
              <div layout="row" layout-align="end start" flex>
                <span class="md-caption"> {{node.Status}}</span>
              </div>
            </div>
          </div>
        </md-virtual-repeat-container>

      </div>
    </md-virtual-repeat-container>
  </md-content>
</md-whiteframe>
