<div class="md-toolbar-tools container" layout="raw">
  <div layout="raw" flex="10">
    <div class="logo-mantl" layout="raw" layout-align="center center">
      <a ng-href="/">
        <img src="img/logo_mantl.png">
      </a>
    </div>
    <div class="logo-name" layout="raw" layout-align="center center">
      <a ng-href="/" class="a-clear">
        <span>Pangea</span>
      </a>
    </div>
  </div>
  <div class="toolbar-tabs-container" flex="90">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab><a ng-href="#/mesos/metrics">Metrics</a></md-tab>
      <md-tab><a ng-href="#/mesos/frameworks">Frameworks</a></md-tab>
      <md-tab><a ng-href="#/mesos/lattency">Lattency</a></md-tab>
      <md-tab><a ng-href="#/marathon/apps">Apps</a></md-tab>
      <md-tab><a ng-href="#/marathon/deployments">Deployments</a></md-tab>
    </md-tabs>
  </div>
</div>
