.data-table td {
	border-top: 2px solid green;
	border-spacing: 0px;
	height: 30px;
}

.data-table td:not(:first-child) {
	text-align: right;
}

.data-table td {
	border-top: 2px solid green;
	border-spacing: 0px;
	height: 30px;
}

.data-table table {
	width: 100%;
}