<div class="md-toolbar-tools container" layout="raw">
  <div layout="raw" flex="10">
    <div class="logo-mantl" layout="raw" layout-align="center center">
      <a ng-href="/">
        <img src="img/logo_mantl.png">
      </a>
    </div>
    <div class="logo-name" layout="raw" layout-align="center center">
      <a ng-href="/" class="a-clear">
        <span>Pangea</span>
      </a>
    </div>
  </div>
  <div class="toolbar-tabs-container" flex="90">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab><a ng-href="#/services">Services</a></md-tab>
      <md-tab><a ng-href="#/nodes">Nodes</a></md-tab>
      <md-tab><a ng-href="#/keyvalue">Key / Value</a></md-tab>
      <md-tab><a ng-href="#/acl">ACL</a></md-tab>
      <md-tab><a ng-href="#/dc">DC#</a></md-tab>
      <md-tab><a ng-href="#/settings">Settings</a></md-tab>
    </md-tabs>
  </div>
</div>
