/* Logo */
.logo-mantl {
  margin-right: 10px;
}
.logo-mantl a {
  height: 32px;
}
.logo-mantl img {
  height: 32px;
}
.logo-name {
  font-size: 15px;
  font-weight: 600;
}
/* Logo - Link */
.a-clear {
    text-decoration: none;
}
.a-clear:hover {
    text-decoration: none;
    color: rgb(239, 235, 233);
}
.a-clear:focus {
    text-decoration: none;
    color: rgb(239, 235, 233);
}
/* Toolbar size */
md-toolbar {
  min-height: 50px;
  height: 50px;
}
.md-toolbar-tools {
  height: 50px;
}
/* Toolbar tabs container*/
.toolbar-tabs-container md-tab-item{
  height: 50px;
  color: #EFEBE9;
}
.toolbar-tabs-container .md-active {
  height: 50px;
  color: #FFA726 !important;
}
.toolbar-tabs-container md-tabs-canvas {
  height: 50px;
}
.toolbar-tabs-container md-pagination-wrapper {
  height: 50px;
}
/* Container */
.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}
.shadow {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.5);
}
