<md-dialog>
    <md-content layout-padding>
        <p>Destroy deployment?<br>
            Destroying this deployment will create and start a new deployment to revert the affected app to its previous version.</p>
        <md-button class="md-primary md-raised" ng-click="rollbackAppDeploy.cancelDestory()">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="rollbackAppDeploy.submitDestory()">
            Ok
        </md-button>
    </md-content>
</md-dialog>