<div flex>
	<md-content layout-padding>
		<span> Apps </span>
		<span> > </span>	
		<span> {{appInfo.appID}} </span>
	</md-content>			

	<div>
		<div layout="row">
			<md-button class="md-primary md-hue-1 md-raised" ng-click="appInfo.suspendApp()">
				Suspend
			</md-button>
			<md-button class="md-primary md-hue-1 md-raised" ng-click="appInfo.scaleApp()">
				Scale
			</md-button>

			<md-button class="md-primary md-hue-1 md-raised" ng-click="appInfo.refreshAppInfo()">
				Refresh
			</md-button>

			<!-- fill up the space between left and right area -->
   			<span flex></span>

			<md-button class="md-primary md-hue-1 md-raised" ng-click="appInfo.restartApp()">
				Restart App
			</md-button>
			<md-button class="md-warn md-hue-1 md-raised" ng-click="appInfo.destroyApp()">
				Destroy App
			</md-button>
		</div>
		
		<md-tabs md-dynamic-height="true">			
			<md-tab label="Tasks">
				<md-content layout-padding>
					<table-tasks></table-tasks>
			  	</md-content>
		  	</md-tab>
		  	<md-tab label="Configuration">
		  		<md-content layout-padding>
					<table-config></table-config>
				</md-content>
			</md-tab>
			<md-tab label="Debug">
				<md-content layout-padding>
					<table-debug></table-debug>
				</md-content>		
			</md-tab>
		</md-tabs>
	</div>
</div>