.table-tasks table {
	width: 100%;
}

.table-tasks td {
	border-spacing: 0px;
	height: 30px;
	padding: 0 3px 0 3px;
	height: 50px;
}

.table-tasks th {
	border-spacing: 0px;
	height: 30px;
	padding: 0 3px 0 3px;
}

.table-tasks th:not(:nth-child(2)) {
	text-align: right;
}

.table-tasks th:nth-child(2) {
	text-align: left;
}

.table-tasks th:first-child {
	text-align: left;
	width: 30px;
}

.table-tasks td:not(:nth-child(2)) {
	text-align: right;
}

.table-tasks td:nth-child(2) {
	text-align: left;
}

.table-tasks td:first-child {
	text-align: left;
	width: 30px;
}

.table-tasks th md-checkbox {
	margin-bottom: 0px;
}


/*
/
/
*/

.table-config table {
	width: 100%;
}

.table-config td {
	border-spacing: 0px;
	height: 30px;
	padding: 0 3px 0 3px;
	vertical-align:top;
}

.table-config th {
	border-spacing: 0px;
	height: 30px;
	padding: 0 3px 0 3px;
}

.table-config tr:first-child td{
	padding-top: 10px;
}

.table-config td:first-child {
	text-align: right;
	font-weight: bold;
	width: 150px;
}

.table-config td:last-child {
	text-align: left;
}

.table-config tr:first-child td:first-child {
	border-radius: 10px 0 0 0;
}
.table-config tr:first-child td:last-child {
	border-radius: 0 10px 0 0;
}
.table-config tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}
.table-config tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

.table-config pre {
	background:#F8F8FF; 
	border:black dashed 1px; 
	padding:6px
}​


/*
/
/
*/
.table-debug {
	width: 100%;
}

.table-debug table {
	width: 100%;
}

.table-debug td {
	border-spacing: 0px;
	height: 30px;
	padding: 0 3px 0 3px;
}

.table-debug th {
	border-spacing: 0px;
	height: 30px;
	padding: 0 3px 0 3px;
}

.table-debug td:first-child {
	text-align: left;
}

.table-debug td:first-child {
	text-align: right;
	font-weight: bold;
	width: 150px;
}

.table-debug td:last-child {
	text-align: left;
}

.table-debug fieldset {
	margin-bottom: 30px; 
}