<div>
	<md-content layout-padding>
		<span> Apps </span>
		<span> > </span>	
		<span> {{appInfo.appID}} </span>
		<span> > </span>
		<span> {{appInfo.taskID}} </span>
	</md-content>			

	<div>
		<div layout="row">
			<md-button class="md-primary md-hue-1 md-raised" href="#">
				Suspend
			</md-button>
			<md-button class="md-primary md-hue-1 md-raised" href="#">
				Scale
			</md-button>

			<!-- fill up the space between left and right area -->
   			<span flex></span>

			<md-button class="md-warn md-hue-1 md-raised" href="#">
				Destroy App
			</md-button>
			<md-button class="md-primary md-hue-1 md-raised" href="#">
				Restart App
			</md-button>
		</div>
		
		<md-tabs md-dynamic-height="true">
			
			<md-tab label="Tasks">
				<md-content layout-padding>
					<div class="table-tasks">
				        <table>
				            <tr>
				                <th> ID </th>
				                <th> Status </th>
				                <th> Version </th>
				                <th> Updated </th>
				                <th> Health (Alive) </th>
				            </tr>
				            <tr ng-repeat="task in appInfo.appData.tasks">
				                <td class="border-left"> {{task.id}} </td>
				                <td> ??? </td>
				                <td> {{task.version | date}} </td>
				                <td> {{task.startedAt | date}} </td>
				                <td class="border-right"> {{task.healthCheckResults.alive}} </td>
				            </tr>    
				        </table>
				  	</div>
			  	</md-content>
		  	</md-tab>

		  	<md-tab label="Configuration">
		  		<md-content layout-padding>
		  			<p> Current Version - {{appInfo.appData.version | date}} </p>
					<div class="table-config">
				        <table>
				            <tr>
				                <td> Command </td>
				                <td> {{appInfo.appData.cmd}} </td>
				            </tr>
				            <tr>
				                <td> Constraints </td>
				                <td> {{appInfo.appData.constraints}} </td>
				            </tr>
				            <tr>
				                <td> Container </td>
				                <td> <pre> {{appInfo.appData.container | json:4}} </pre> </td>
				            </tr>
				            <tr>
				                <td> CPUs </td>
				                <td> {{appInfo.appData.cpus}} </td>
				            </tr>
				            <tr>
				                <td> Environment </td>
				                <td> 
									<span ng-repeat="(envOption, value) in appInfo.appData.env">
				                		<span>{{envOption}}={{value}}</span><br>
				                	</span>
				                </td>
				            </tr>
				            <tr>
				                <td> Executor </td>
				                <td> {{appInfo.appData.executor}} </td>
				            </tr>
				            <tr>
				                <td> Health Checks </td>
				                <td> <pre> {{appInfo.appData.healthChecks[0] | json:4}} </pre> </td>
				            </tr>
				            <tr>
				                <td> Instances </td>
				                <td> {{appInfo.appData.instances}} </td>
				            </tr>
				            <tr>
				                <td> Memory </td>
				                <td> {{appInfo.appData.mem}} </td>
				            </tr>
				            <tr>
				                <td> Disk Space </td>
				                <td> {{appInfo.appData.disk}} </td>
				            </tr>
				            <tr>
				                <td> Ports </td>
				                <td>
				                	<span ng-repeat="port in appInfo.appData.ports">
				                		<span>{{port}}</span><br>
				                	</span>
				            	</td>
				            </tr>
				            <tr>
				                <td> Backoff Factor </td>
				                <td> {{appInfo.appData.backoffFactor}} </td>
				            </tr>
				            <tr>
				                <td> Backoff </td>
				                <td> {{appInfo.appData.backoffSeconds}} </td>
				            </tr>
				            
				            <tr>
				                <td> Max Launch Delay </td>
				                <td> {{appInfo.appData.maxLaunchDelaySeconds}} </td>
				            </tr>
				            <tr>
				                <td> URIs </td>
								<td>
				                	<span ng-repeat="uri in appInfo.appData.uris">
				                		<span>{{uri}}</span><br>
				                	</span>
				            	</td>
				            </tr>
				            <tr>
				                <td> Version </td>
				                <td> {{appInfo.appData.version}} </td>
				            </tr>
				        </table>
				  	</div>
				</md-content>
			 </md-tab>

			<md-tab label="Debug">
				<md-content layout-padding>
				</md-content>		
			</md-tab>

		</md-tabs>
	</div>
</div>