<div class="table-tasks">
	<table>
	    <tr>
	    	<th> 
	    		<md-checkbox aria-label="Checkbox 1" ng-click="appInfo.checkAllTasks()">

		        </md-checkbox>
      		</th>
	        <th> ID </th>
	        <th> Status </th>
	        <th> Version </th>
	        <th> Updated </th>
<!-- 	    <th> Health (Alive) </th> -->
	    </tr>
	    <tr ng-repeat="task in appInfo.appData.tasks">
	    	<td>
	    		<md-checkbox aria-label="Checkbox n" ng-model="appInfo.checkedTasks[task.id]" ng-click="appInfo.checkTask(task.id)">

		        </md-checkbox>
	    	</td>
	        <td> 
	        	<span class="link" ng-click="appInfo.showTaskInfo(task.id)"> {{task.id}} </span> <br>
	        	{{task.host}}:{{task.ports[0]}}
	        </td>
	        <td> 
				<span ng-show="task.startedAt">Started</span>
	        </td>
	        <td> {{task.version | date}} </td>
	        <td> {{task.stagedAt | date:'yyyy-MM-dd HH:mm:ss'}} </td>
<!-- 	    <td> ??? </td> -->
	    </tr>    
	</table>
</div>