<div class="table-debug"> 
	<p> Last Changes </p>
	<table>
		<tr>
			<td> Last Scaling </td>
			<td> {{appInfo.appData.versionInfo.lastScalingAt}} </td>
		</tr>
		<tr>
			<td> Last Configuration </td>
			<td> {{appInfo.appData.versionInfo.lastConfigChangeAt}} </td>
		</tr>
	</table>

	<p> Last Task Failure </p>			
	<table>
		<tr>
			<td> Task id </td>
			<td> {{appInfo.appData.lastTaskFailure.taskId}} </td>
		</tr>
		<tr>
			<td> State </td>
			<td> {{appInfo.appData.lastTaskFailure.state}} </td>
		</tr>
		<tr>
			<td> Message </td>
			<td> {{appInfo.appData.lastTaskFailure.message}} </td>
		</tr>
		<tr>
			<td> Host </td>
			<td> {{appInfo.appData.lastTaskFailure.host}} </td>
		</tr>
		<tr>
			<td> Timestamp </td>
			<td> {{appInfo.appData.lastTaskFailure.timestamp}} </td>
		</tr>
		<tr>
			<td> Version </td>
			<td> {{appInfo.appData.lastTaskFailure.version}} </td>
		</tr>
<!-- 		<tr>
			<td> Mesos Details </td>
			<td> ??? </td>
		</tr> -->
	</table>

	<p> Task Statistics </p>
	<div layout="row"  layout-align="space-around start">
		<div layout="column"> 
			<span> Started After Last Scaling </span>
			<table>
				<tr>
					<td> Tasks Status </td>
					<td></td>
				</tr>
				<tr>
					<td> Running </td>
					<td> {{appInfo.appData.taskStats.startedAfterLastScaling.stats.counts.running}}</td>
				</tr>
				<tr>
					<td> Healthy </td>
					<td> {{appInfo.appData.taskStats.startedAfterLastScaling.stats.counts.healthy}} </td>
				</tr>
				<tr>
					<td> Unhealthy </td>
					<td> {{appInfo.appData.taskStats.startedAfterLastScaling.stats.counts.unhealthy}} </td>
				</tr>
				<tr>
					<td> Staged </td>
					<td> {{appInfo.appData.taskStats.startedAfterLastScaling.stats.counts.staged}} </td>
				</tr>
				<tr>
					<td> Tasks Lifetime </td>
					<td> </td>
				</tr>
				<tr>
					<td> Average </td>
					<td> {{appInfo.appData.taskStats.startedAfterLastScaling.stats.lifeTime.averageSeconds}} s</td>
				</tr>

				<tr>
					<td> Median </td>
					<td> {{appInfo.appData.taskStats.startedAfterLastScaling.stats.lifeTime.medianSeconds}} s</td>
				</tr>
			</table>
		</div>

		<div layout="column"> 
			<span> With Latest Config </span>
			<table>
				<tr>
					<td> Tasks Status </td>
					<td></td>
				</tr>
				<tr>
					<td> Running </td>
					<td> {{appInfo.appData.taskStats.withLatestConfig.stats.counts.running}}</td>
				</tr>
				<tr>
					<td> Healthy </td>
					<td> {{appInfo.appData.taskStats.withLatestConfig.stats.counts.healthy}} </td>
				</tr>
				<tr>
					<td> Unhealthy </td>
					<td> {{appInfo.appData.taskStats.withLatestConfig.stats.counts.unhealthy}} </td>
				</tr>
				<tr>
					<td> Staged </td>
					<td> {{appInfo.appData.taskStats.withLatestConfig.stats.counts.staged}} </td>
				</tr>
				<tr>
					<td> Tasks Lifetime </td>
					<td> </td>
				</tr>
				<tr>
					<td> Average </td>
					<td> {{appInfo.appData.taskStats.withLatestConfig.stats.lifeTime.averageSeconds}} s</td>
				</tr>

				<tr>
					<td> Median </td>
					<td> {{appInfo.appData.taskStats.withLatestConfig.stats.lifeTime.medianSeconds}} s</td>
				</tr>
			</table>
		</div>

		<div layout="column"> 
			<span> Total Summary </span>
			<table>
				<tr>
					<td> Tasks Status </td>
					<td></td>
				</tr>
				<tr>
					<td> Running </td>
					<td> {{appInfo.appData.taskStats.totalSummary.stats.counts.running}}</td>
				</tr>
				<tr>
					<td> Healthy </td>
					<td> {{appInfo.appData.taskStats.totalSummary.stats.counts.healthy}} </td>
				</tr>
				<tr>
					<td> Unhealthy </td>
					<td> {{appInfo.appData.taskStats.totalSummary.stats.counts.unhealthy}} </td>
				</tr>
				<tr>
					<td> Staged </td>
					<td> {{appInfo.appData.taskStats.totalSummary.stats.counts.staged}} </td>
				</tr>
				<tr>
					<td> Tasks Lifetime </td>
					<td> </td>
				</tr>
				<tr>
					<td> Average </td>
					<td> {{appInfo.appData.taskStats.totalSummary.stats.lifeTime.averageSeconds}} s</td>
				</tr>

				<tr>
					<td> Median </td>
					<td> {{appInfo.appData.taskStats.totalSummary.stats.lifeTime.medianSeconds}} s</td>
				</tr>
			</table>
		<div>
	</div>
</div>