<div flex>
	<md-content layout-padding>
		<span class="link" ng-click="taskInfo.goToAllApps()"> Apps </span>
		<span> > </span>	
		<span class="link" ng-click="taskInfo.goToApp()"> {{taskInfo.appID}} </span>
		<span> > </span>
		<span> {{taskInfo.taskID}} </span>
	</md-content>	

	<div class="task-info" layout="row"  layout-align="start start">
		<fieldset class="standard">
			<legend> Task Details </legend>
			<table>
				<tr>
					<td> Host </td>
					<td> {{taskInfo.taskData.host}}</td>
				</tr>
				<tr>
					<td> Ports </td>
					<td> 
						<span ng-repeat="port in taskInfo.taskData.ports">
							{{port}}
						</span>
					</td>
				</tr>
				<tr>
					<td> Status </td>
					<td> 
						<span ng-show="taskInfo.taskData.startedAt">Started</span>
			        </td>
				</tr>
				<tr>
					<td> Staged at </td>
					<td> {{taskInfo.taskData.stagedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
				<tr>
					<td> Started at </td>
					<td> {{taskInfo.taskData.startedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
				<tr>
					<td> Version </td>
					<td> {{taskInfo.taskData.version | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
		<!-- 		<tr>
					<td> Health </td>
					<td> ??? </td>
				</tr>
				<tr>
					<td> Mesos details </td>
					<td> link??? </td>
				</tr> -->
			</table>
		</fieldset>
	</div>
</div>
