<div class="table table-checkbox">
	<table>
		<tr>
			<th>
				<md-checkbox aria-label="Checkbox 1" ng-model="checkAllTaskBool" ng-click="checkAllTasks()">

				</md-checkbox>
			</th>
			<th> ID </th>
			<th> Status </th>
			<th> Version </th>
			<th> Updated </th>
			<!-- 	    <th> Health (Alive) </th> -->
		</tr>
		<tr ng-repeat="task in appData.tasks">
			<td>
				<md-checkbox aria-label="Checkbox n" ng-model="checkedTasks[task.id]" ng-click="checkTask(task.id)"></md-checkbox>
			</td>
			<td>
				<span class="breadcrumb-link" ng-click="showTaskInfo(task.id)"> {{task.id}} </span>
				<br> {{task.host}}:{{task.ports[0]}}
			</td>
			<td>
				<span ng-show="task.startedAt">Started</span>
			</td>
			<td> {{task.version | date}} </td>
			<td> {{task.stagedAt | date:'yyyy-MM-dd HH:mm:ss'}} </td>
			<!-- 	    <td> ??? </td> -->
		</tr>
	</table>
</div>
